body {
    font-family: 'Fredoka', sans-serif;
    background-color: #fffdef;
    line-height: 2.2em;
}

.card{
    background-color: #FFFDEFFF;
}

.font-dark-blue{
    color: #264653;
}

.bg-dark-blue{
    /* background-color: #0D1B2A; */
    background-color: #264653;
}

.btn-primary{
    background-color: #264653;
    border: none;
}

.btn-primary:hover{
    background-color: #396B81FF;
}

.alert-info{
    background-color: #2a9d8f;
    color: #fefae0;
}

.alert-danger{
    background-color: #e76f51;
    color: #fefae0;
}

.alert-warning{
    background-color: #f4a261;
    color: #fefae0;
}

.btn{
    border-radius: 12px;
    padding-left: 1rem;
    padding-right: 1rem;
}

.badge{
    font-weight: 400;
}

.dropdown-menu{
    background-color: #264653;
      
}

.dark-table-head{
    background-color: #264653; 
}

th{
    font-weight: 500;
}

.dropdown-item{
    color: #fff;
}

p, ul, a{
    font-weight: 400;
    font-size: 1.0em;
}

.block-display{
    display: block;
}

.dont-display{
    display: none;
}

