mixin notifications
    if(errors.length > 0)
        .alert.alert-sm.alert-dark.border.fade.show(role="alert")
            button.close(type="button", data-dismiss="alert", aria-label="Close")
                span(aria-hidden="True") &times;

            .alert-heading
                h5.fa-solid.fa-circle-exclamation.text-danger
                each error in errors
                    span.mx-2.text-danger.text-center= error

    if(infos.length > 0)
        .alert.alert-sm.alert-dark.border.fade.show(role="alert")
            button.close(type="button", data-dismiss="alert", aria-label="Close")
                span(aria-hidden="True") &times;
            .alert-heading
                h5.fa-solid.fa-circle-check.text-success
                each info in infos
                    span.mx-2.text-success.text-center= info
