extends layout

block content
    .container
        .row.mt-5
            .col-12.col-md-8.offset-md-2
                h4.text-muted.mb-4 Do want to add another payment?
                a.btn.btn-success.btn-sm.mr-3(href="/home") No
                a.btn.btn-danger.btn-sm.mr-3(href="/create-other-payments/"+safariId+"/"+staffId) Yes!. Add Another payment


