extends layout

block content
    .container
        .row.mt-5
            .col-12.col-md-8.offset-md-2
                h3.text-muted.mb-4 Are you sure you want to logout?
                a.btn.btn-success.btn-sm.mr-3(href="/home") Go back home
                a.btn.btn-danger.btn-sm.mr-3(href="/confirmlogout") Logout


