extends layout

block content
    .container
        .row.mt-5
            .col-12.col-md-8.offset-md-2
                +notifications
                h4.text-muted You're about to delete a safari, are you sure you want to delete?
                small.text-muted NOTE: If you delete safari, you will not be able to retrieve it in the future.
                p.text-muted --
                a.btn.btn-success.btn-sm.mr-3(href="/view-safari-details/"+safari.id) Go back
                a.btn.btn-danger.btn-sm.mr-3(href="/delete-safari/"+safari.id) Delete Safari


