extends layout

block content
    .container
        .row.mt-5
            .col-12.col-md-8.offset-md-2
                +notifications
                h4.text-muted You're about to&nbsp;
                        if(safari.approvalStage === "supervisor")
                            span
                                b &nbsp;approve a permission
                        if(safari.approvalStage === "financial_approval")
                            span
                                b &nbsp;approve a warrant of fund
                        if(safari.approvalStage === "payment")
                            span
                                b &nbsp;approve payments
                        if(safari.approvalStage === "payment_office")
                            span
                                b &nbsp;pay

                        span , for #{safari.staff.firstName} #{safari.staff.lastName} who is traveling to #{safari.destination} for&nbsp;
                        if(((new Date(safari.returnDate).getTime() - new Date(safari.departureDate).getTime())/ (1000 * 60 * 60 * 24)) > 1)
                            span #{((new Date(safari.returnDate).getTime() - new Date(safari.departureDate).getTime())/ (1000 * 60 * 60 * 24))} days&nbsp;
                        else
                            span #{((new Date(safari.returnDate).getTime() - new Date(safari.departureDate).getTime())/ (1000 * 60 * 60 * 24))} day&nbsp;

                        span  for
                            em  "#{safari.purpose}"
                small.text-muted NOTE: The action can not be reversed.
                p.text-muted --
                a.btn.btn-primary.btn-sm.mr-3(href="/view-safari-details/"+safari.id) Go back
                a.btn.btn-success.btn-sm.mr-3(href="/approve-safari/"+safari.id) Approve


