extends layout

block content
    .container
        .row.mt-5
            .col-12.col-md-8.offset-md-2
                +notifications
                h4.text-muted Is this safari have any other payments other than PerDiem Payments?.
                small.text-muted Other payments can be INTERNAL TRANSPORT, FUEL, BUS FARE and the like.
                p.text-muted --
                a.btn.btn-success.btn-sm.mr-3(href="/home") Go back home
                a.btn.btn-primary.btn-sm.mr-3(href="/create-other-payments/"+safari.id+"/"+staff.id) Specify other payments


