extends layout

block content
    .container
        .row.mt-5
            .col-12.col-md-8.offset-md-2.mt-2
                .card.p-md-4
                    .card-body
                        .card-title
                            if(stations.length > 0)
                                h2.mb-2 Create Work-Station
                            else
                                h2.mb-2 Create Main-Station
                                small.text-muted The main station is the main office of an Institution
                            p.text-muted= institution.name
                            +notifications
                        .card-text
                            form(action='/create-station', method='post')
                                input(type='hidden', name="_csrf", value= csrfToken)
                                input(type='hidden', name="institutionId", value= institution._id)
                                .input-group.mb-2
                                    .input-group-prepend
                                        span.input-group-text#stationname
                                            i.fa-solid.fa-house.font-dark-blue
                                    input(type="text", name="stationname", class="form-control font-dark-blue", placeholder="Station Name", aria-label="Station Name",aria-describedby="stationname")

                                .input-group.mb-3
                                    .input-group-prepend
                                        span.input-group-text#headofstationtitle
                                            i.fa-solid.fa-user.font-dark-blue
                                    input(type="text", name="headofstationtitle", class="form-control font-dark-blue",placeholder="e.g Executive Director",aria-label="Head of Station Title", aria-describedby="headofstationtitle")

                                .input-group.mb-3
                                    .input-group-prepend
                                        span.input-group-text#shortcode
                                            i.fa-solid.fa-user.font-dark-blue
                                    input(type="text", name="shortcode", class="form-control font-dark-blue",placeholder="e.g CEO",aria-label="Head of Station ShortCode", aria-describedby="shortcode")

                                if(stations.length > 0)
                                    //.input-group.mb-3
                                    //    .input-group-prepend
                                    //        span.input-group-text#isThereTopStation
                                    //            //i.fa-solid.fa-user.font-dark-blue
                                    //            span Is this station reports to another station?
                                    //    input(type="radio", name="isThereTopStation", value="yes" class="form-control font-dark-blue", aria-label="Any Top Station?",aria-describedby="headofstationtitle")
                                    //    input(type="radio", name="isThereTopStation", value="no" class="form-control font-dark-blue", aria-label="Any Top Station?",aria-describedby="headofstationtitle")

                                    // Pose the question to administrator if the office is dealing with payments (Finance and Accountants)
                                    .input-group.mb-3
                                        .input-group-prepend
                                            span.input-group-text
                                                i.fa-solid.fa-solid.fa-user.font-dark-blue
                                        select(name="questionAboutPaymentStation", id="questionAboutPaymentStation" class="form-control font-dark-blue",aria-label="questionAboutPaymentStation",aria-describedby="questionAboutPaymentStation")
                                            option(value="", disabled, selected) is this a payment station?
                                            option(value= "YES") YES
                                            option(value= "NO") NO

                                    .input-group.mb-3.dont-display#paymentManagementStation
                                        .input-group-prepend
                                            span.input-group-text#isPaymentManager
                                                i.fa-solid.fa-solid.fa-user.font-dark-blue
                                        select(name="isPaymentManager", id="paymentManager" class="form-control font-dark-blue",aria-label="PaymentManager",aria-describedby="isPaymentManager")
                                            option(value="", disabled, selected) is payment management of station?
                                            option(value= "YES") YES
                                            option(value= "NO") NO

                                    .input-group.mb-3.dont-display#paymentOfficeStation
                                        .input-group-prepend
                                            span.input-group-text#isCashOffice
                                                i.fa-solid.fa-solid.fa-user.font-dark-blue
                                        select(name="paymentOffice", id="paymentOffice" class="form-control font-dark-blue ",aria-label="Payment Office",aria-describedby="isCashOffice")
                                            option(value="", disabled, selected) is payment office?
                                            option(value= "YES") YES
                                            option(value= "NO") NO

                                    .input-group.mb-3
                                        .input-group-prepend
                                            span.input-group-text#topStation
                                                span Reporting to
                                                //i.fa-solid.fa-house.font-dark-blue
                                        select(name="topStation", class="form-control font-dark-blue", aria-label="The Top Station", aria-describedby="topStation")
                                            option(selected, disabled) -- select top station --
                                            each station in stations
                                                option(value= station.id) #{station.name}


                                .form-group
                                    input(type='submit', value='Create Station', class='btn btn-primary')

block javascript
    script(type="text/javascript", src="/js/station.js")