extends layout

block content
    .container
        .row.mt-5
            .col-12.col-md-8.offset-md-2.mt-5
                .card.p-md-4
                    .card-body
                        .card-title
                            h2.mb-4 Add other payments
                            small.text-muted Other payments includes internal transport, in-transit, entertainment allowance, bus fare, and Fuel.
                            +notifications
                        .card-text
                            form(action='/create-other-payments/', method='post')
                                input(type='hidden', name="_csrf", value= csrfToken)
                                input(type='hidden', name= "safariId", value= safariId)
                                .input-group.mb-3
                                    .input-group-prepend
                                        span.input-group-text#paymentname
                                            i.fa-solid.fa-file.font-dark-blue
                                    select(name="paymentname", id="payment-name",  class="form-control font-dark-blue",aria-label="Other Payment Name",aria-describedby="paymentname", required)
                                        option(value="", selected, disabled) Payment type?
                                        each payment in otherPaymentsList
                                            option(value= payment) #{payment}


                                .input-group.mb-3
                                    .input-group-prepend
                                        span.input-group-text#description
                                            i.fa-solid.fa-clipboard.font-dark-blue
                                    input(type="text", name="description", class="form-control font-dark-blue",placeholder="Other payment descriptions",aria-label="Other Payments Descriptions",aria-describedby="description", required)

                                .input-group.mb-3#otherPayAmount
                                    .input-group-prepend
                                        span.input-group-text
                                            i.fa-solid.fa-money-bill.font-dark-blue
                                    input(type="number", name="amount", id="amount", class="form-control font-dark-blue",placeholder="Other payment amount",aria-label="Other Payments Amount",aria-describedby="amount")


                                .form-group
                                    input(type='submit', value='Create', class='btn btn-primary')

block javascript
    script(type="text/javascript", src="/js/otherpayments.js")
