extends layout

block content
    .container
        .row.mt-5
            .col-12.col-md-8.offset-md-2.mt-5
                .card.p-md-4
                    .card-body
                        .card-title
                            h2.mb-5 Create New Safari
                            +notifications
                        .card-text
                            form(action='/create-new-safari', method='post')
                                input(type='hidden', name="_csrf", value= csrfToken)
                                .row
                                    .col-12.col-md-4
                                        .input-group.mb-3
                                            .input-group-prepend
                                                span.input-group-text#destination
                                                    i.fa-solid.fa-location-dot.font-dark-blue
                                            select(name="destination", class="form-control font-dark-blue", aria-label="Destination", aria-describedby="destination")
                                                option(value="", selected, disabled) Where?
                                                each place in destinations
                                                    option(value= place)= place

                                    .col-12.col-md-4
                                        .input-group.mb-3
                                            .input-group-prepend
                                                span.input-group-text#isOfficial
                                                    i.fa-solid.fa-clipboard-question.font-dark-blue
                                            select(name="isOfficial", id="officialChoice" class="form-control font-dark-blue", aria-label="isOfficial", aria-describedby="isOfficial")
                                                option(value="", selected, disabled) Official?
                                                option(value="NO") NO
                                                option(value="YES") YES

                                    .col-12.col-md-4
                                        .input-group.mb-3
                                            .input-group-prepend
                                                span.input-group-text#isHalfPerDiem
                                                    i.fa-solid.fa-clipboard-question.font-dark-blue
                                            select(name="isHalfPerDiem", id="halfperdiem" class="form-control font-dark-blue", aria-label="isHalfPerDiem", aria-describedby="isHalfPerDiem")
                                                option(value="", selected, disabled) HalfPerDiem?
                                                option(value="NO") NO
                                                option(value="YES") YES

                                .row
                                    .col-12.col-md-12
                                        .input-group.mb-3
                                            .input-group-prepend
                                                span.input-group-text#purpose
                                                    i.fa-solid.fa-clipboard.font-dark-blue
                                            textarea(name="purpose", class="form-control font-dark-blue", placeholder="Purpose of the Safari. You can also specify the departmental strategic objective that goes with this safari", aria-label="Purpose of the Safari", aria-describedby="purpose")
                                .row
                                    .col-12.col-md-6
                                        .input-group.mb-3
                                            .input-group-prepend
                                                span.input-group-text#departuredate
                                                    i.fa-solid.fa-calendar-days.font-dark-blue
                                            input(type="date" name="departuredate", class="form-control font-dark-blue", aria-label="Departure Date", aria-describedby="Departure Date")

                                    .col-12.col-md-6
                                        .input-group.mb-3
                                            .input-group-prepend
                                                span.input-group-text#returndate
                                                    i.fa-solid.fa-calendar-days.font-dark-blue
                                            input(type="date" name="returndate", class="form-control font-dark-blue", aria-label="Return Date", aria-describedby="Return Date")

                                .row
                                    if(currentUser.isStationHead && userStation.isTopStation)
                                        .col-12.col-md-12
                                            .input-group.mb-3
                                                .input-group-prepend
                                                    span.input-group-text#permissionStation
                                                        i.fa-solid.fa-solid.fa-briefcase.font-dark-blue
                                                select(name="permissionStation", class="form-control font-dark-blue", aria-label="Permission Approval Station", aria-describedby="Permission Station")
                                                    option(value="", disabled, selected) Permission Approval Station
                                                    each station in stations
                                                        if(!station.isTopStation && station.topStation.id === userStation.id)
                                                            option(value= station.id) #{station.name}

                                    .col-12.col-md-12
                                        .input-group.mb-3
                                            .input-group-prepend
                                                span.input-group-text#warrantHoldingStation
                                                    i.fa-solid.fa-solid.fa-briefcase.font-dark-blue
                                            select(name="warrantHoldingStation", class="form-control font-dark-blue", aria-label="Warrant Holding Station", aria-describedby="station" required)
                                                option(value="", disabled, selected) Warrant Holding Unit
                                                each station in stations
                                                    option(value= station.id) #{station.name}


                                .form-group
                                    input(type='submit', value='Create', class='btn btn-primary')

block javascript
    script(type="text/javascript", src="/js/app.js")
