extends layout

block content
    .container
        .row.mt-5
            .col-12.col-md-8.offset-md-2.mt-5
                .card.p-md-4
                    .card-body
                        .card-title
                            h2.mb-5 Staff Registration
                            +notifications

                            - var currencyFormat = Intl.NumberFormat('en-US')

                        .card-text
                            form(action='/create-new-staff', method='post')
                                input(type='hidden', name="_csrf", value= csrfToken)
                                input(type='hidden', name="institutionId", value= institution.id)
                                .row
                                    .col-12.col-md-4
                                        .input-group.mb-3
                                            .input-group-prepend
                                                span.input-group-text#firstname
                                                    i.fa-solid.fa-user-plus.font-dark-blue
                                            input(type="text", name="firstname", class="form-control font-dark-blue",placeholder="Firstname",aria-label="Firstname",aria-describedby="firstname")

                                    .col-12.col-md-4
                                        .input-group.mb-3
                                            .input-group-prepend
                                                span.input-group-text#secondname
                                                    i.fa-solid.fa-user-plus.font-dark-blue
                                            input(type="text", name="secondname", class="form-control font-dark-blue",placeholder="Middlename",aria-label="Middlename",aria-describedby="secondname")

                                    .col-12.col-md-4
                                        .input-group.mb-3
                                            .input-group-prepend
                                                span.input-group-text#lastname
                                                    i.fa-solid.fa-user-plus.font-dark-blue
                                            input(type="text", name="lastname", class="form-control font-dark-blue",placeholder="Lastname",aria-label="Lastname",aria-describedby="lastname")

                                .row
                                    .col-12.col-md-6
                                        .input-group.mb-3
                                            .input-group-prepend
                                                span.input-group-text#email
                                                    i.fa-solid.fa-at.font-dark-blue
                                            input(type="email", name="email", class="form-control font-dark-blue",placeholder="Email",aria-label="Email",aria-describedby="email")

                                    .col-12.col-md-6
                                        .input-group.mb-3
                                            .input-group-prepend
                                                span.input-group-text#password
                                                    i.fa-solid.fa-lock.font-dark-blue
                                            input(type="password", name="password", class="form-control font-dark-blue",placeholder="Password",aria-label="Password",aria-describedby="password")

                                .row
                                    .col-12.col-md-6
                                        .input-group.mb-3
                                            .input-group-prepend
                                                span.input-group-text#perdiemrate
                                                    i.fa-solid.fa-money-bill-1.font-dark-blue
                                            select(name="perdiemrate", class="form-control font-dark-blue",aria-label="PerDiemRate",aria-describedby="perdiemrate")
                                                option(value="", disabled, selected) -- choose amount --
                                                each rate in ratesPerdiem
                                                    option(value= rate.id) #{currencyFormat.format(rate.amount)}

                                    .col-12.col-md-6
                                        //The designation should be created in the database so that user can select from provided
                                        .input-group.mb-3
                                            .input-group-prepend
                                                span.input-group-text#designation
                                                    i.fa-solid.fa-person-digging.font-dark-blue
                                            select(name="designation", class="form-control font-dark-blue",aria-label="Designation",aria-describedby="designation" required)
                                                option(value="",disabled, selected) --choose designation --
                                                each designation in designations
                                                    option(value= designation.id) #{designation.name}

                                    .col-12.col-md-6
                                        .input-group.mb-3
                                            .input-group-prepend
                                                span.input-group-text#station
                                                    i.fa-solid.fa-solid.fa-briefcase.font-dark-blue
                                            select(name="station", class="form-control font-dark-blue",aria-label="Station",aria-describedby="station" required)
                                                option(value="",disabled, selected) --choose station --
                                                each station in stations
                                                    option(value= station.id) #{station.name}

                                    .col-12.col-md-6

                                        .input-group.mb-3
                                            .input-group-prepend
                                                span.input-group-text#isStationHead
                                                    i.fa-solid.fa-solid.fa-user.font-dark-blue
                                            select(name="isStationHead", id="stationHead" class="form-control font-dark-blue",aria-label="Head of Station",aria-describedby="isStationHead" required)
                                                option(value="", disabled, selected) -- is head of station? --
                                                option(value= "YES") YES
                                                option(value= "NO") NO

                                        .input-group.mb-3
                                            .input-group-prepend
                                                span.input-group-text#isWarrantHolder
                                                    i.fa-solid.fa-solid.fa-user.font-dark-blue
                                            select(name="isWarrantHolder", id="warrantHolder" class="form-control font-dark-blue",aria-label="Warrant Holder",aria-describedby="isWarrantHolder" required)
                                                option(value="", disabled, selected) -- is a warrant holder? --
                                                option(value= "YES") YES
                                                option(value= "NO") NO


                                .form-group
                                    input(type='submit', value='Register', class='btn btn-primary')

block javascript
    script(type="text/javascript", src="/js/app.js")
