extends layout

block content
    .container
        .row.mt-5
            .col-12.col-md-8.offset-md-2.mt-5
                .card.p-md-4
                    .card-body
                        .card-title
                            h2.mb-4 Create Institution
                            +notifications
                        .card-text
                            form(action='/create-institution', method='post')
                                input(type='hidden', name="_csrf", value= csrfToken)
                                .input-group.mb-3
                                    .input-group-prepend
                                        span.input-group-text#institutionname
                                            i.fa-solid.fa-building-columns.font-dark-blue
                                    input(type="text", name="institutionname", class="form-control font-dark-blue",placeholder="Institution Name",aria-label="Institution Name",aria-describedby="institutionname", required)

                                .input-group.mb-3
                                    .input-group-prepend
                                        span.input-group-text#shortcode
                                            i.fa-solid.fa-building-columns.font-dark-blue
                                    input(type="text", name="shortcode", class="form-control font-dark-blue",placeholder="e.g. UDSM",aria-label="Institution Name",aria-describedby="shortcode", required)

                                    
                                .form-group
                                    input(type='submit', value='Create', class='btn btn-primary')
