extends layout

block content
    .container
        .row.mt-5
            .col-12.col-md-8.offset-md-2.mt-2
                .card.p-md-4
                    .card-body
                        .card-title
                            h2.mb-2 Create new RatePerDiem
                            small.text-muted
                                b Note:
                                br
                                span RatePerdiem defines amount of allowance the employee get paid when they travel out of duty station on official duty

                            p.text-muted= institution.name
                            +notifications
                        .card-text
                            form(action='/create-new-rate-perdiem', method='post')
                                input(type='hidden', name="_csrf", value= csrfToken)
                                .input-group.mb-2
                                    .input-group-prepend
                                        span.input-group-text#amount
                                            i.fa-solid.fa-user.font-dark-blue
                                    input(type="number", name="amount", class="form-control font-dark-blue", placeholder="Rate Perdiem Amount", aria-label="Rate Perdiem Amount",aria-describedby="designationName")

                                .input-group.mb-3
                                    .input-group-prepend
                                        span.input-group-text#description
                                            i.fa-solid.fa-user.font-dark-blue
                                    textarea(name="description", class="form-control font-dark-blue",placeholder="Descriptions",aria-label="Descriptions", aria-describedby="description")

                                .form-group
                                    input(type='submit', value='Create RatePerdiem', class='btn btn-primary')

