extends layout

block content
    .container
        .row.mt-5
            .col-12.col-md-8.offset-md-2.mt-5
                .card.p-md-4
                    .card-body
                        .card-title
                            h2.mb-4 Institution SysAdmin Registration
                            +notifications
                        .card-text
                            form(action='/create-institution-sysadmin', method='post')
                                input(type='hidden', name="_csrf", value= csrfToken)
                                .row
                                    .col-12.col-md-4
                                        .input-group.mb-3
                                            .input-group-prepend
                                                span.input-group-text#firstname
                                                    i.fa-solid.fa-user-plus.font-dark-blue
                                            input(type="text", name="firstname", class="form-control font-dark-blue",placeholder="Firstname",aria-label="Firstname",aria-describedby="firstname")

                                    .col-12.col-md-4
                                        .input-group.mb-3
                                            .input-group-prepend
                                                span.input-group-text#secondname
                                                    i.fa-solid.fa-user-plus.font-dark-blue
                                            input(type="text", name="secondname", class="form-control font-dark-blue",placeholder="Middlename",aria-label="Middlename",aria-describedby="secondname")

                                    .col-12.col-md-4
                                        .input-group.mb-3
                                            .input-group-prepend
                                                span.input-group-text#lastname
                                                    i.fa-solid.fa-user-plus.font-dark-blue
                                            input(type="text", name="lastname", class="form-control font-dark-blue",placeholder="Lastname",aria-label="Lastname",aria-describedby="lastname")

                                .row
                                    .col-12.col-md-6
                                        .input-group.mb-3
                                            .input-group-prepend
                                                span.input-group-text#email
                                                    i.fa-solid.fa-at.font-dark-blue
                                            input(type="email", name="email", class="form-control font-dark-blue",placeholder="Email",aria-label="Email",aria-describedby="email")

                                    .col-12.col-md-6
                                        .input-group.mb-3
                                            .input-group-prepend
                                                span.input-group-text#password
                                                    i.fa-solid.fa-lock.font-dark-blue
                                            input(type="password", name="password", class="form-control font-dark-blue",placeholder="Password",aria-label="Password",aria-describedby="password")

                                .row
                                    //.col-12.col-md-6
                                    //    .input-group.mb-3
                                    //        .input-group-prepend
                                    //            span.input-group-text#perdiemrate
                                    //                i.fa-solid.fa-money-bill-1.font-dark-blue
                                    //        input(type="number", name="perdiemrate", class="form-control font-dark-blue",placeholder="PerDiemRate",aria-label="PerDiemRate",aria-describedby="perdiemrate")
                                    //
                                    //
                                    //.col-12.col-md-6
                                    //    .input-group.mb-3
                                    //        .input-group-prepend
                                    //            span.input-group-text#designation
                                    //                i.fa-solid.fa-person-digging.font-dark-blue
                                    //        input(type="text", name="designation", class="form-control font-dark-blue",placeholder="Designation",aria-label="Designation",aria-describedby="designation")
                                    
                                    .col-12.col-md-12
                                        .input-group.mb-3
                                            .input-group-prepend
                                                span.input-group-text#institution
                                                    i.fa-solid.fa-person-digging.font-dark-blue
                                            input(type="text", name="institution", class="form-control font-dark-blue",value=institution._id,aria-label=institution.name,aria-describedby="institution", readonly)


                                .form-group
                                    input(type='submit', value='Create SysAdmin for '+institution.name, class='btn btn-primary')
