extends layout

block content
    .container
        .row.mt-5
            .col-12.col-md-8.offset-md-2.mt-2
                .card.p-md-4
                    .card-body
                        .card-title
                            h2.mb-2 Create new Designations
                            small.text-muted
                                b Note:
                                br
                                span Designations defines role the employee plays in the institution and they differ from institution to institution

                            p.text-muted= institution.name
                            +notifications
                        .card-text
                            form(action='/create-new-designation', method='post')
                                input(type='hidden', name="_csrf", value= csrfToken)
                                .input-group.mb-2
                                    .input-group-prepend
                                        span.input-group-text#designationName
                                            i.fa-solid.fa-user.font-dark-blue
                                    input(type="text", name="designationName", class="form-control font-dark-blue", placeholder="Designation Name", aria-label="Designation Name",aria-describedby="designationName")

                                .input-group.mb-3
                                    .input-group-prepend
                                        span.input-group-text#description
                                            i.fa-solid.fa-user.font-dark-blue
                                    textarea(name="description", class="form-control font-dark-blue",placeholder="Optional",aria-label="Descriptions", aria-describedby="description")

                                .form-group
                                    input(type='submit', value='Create Designation', class='btn btn-primary')

