extends layout

block content
    .container
        .row.mt-5
            .col-12.col-md-8.offset-md-2.mt-5
                .card.p-md-4
                    .card-body
                        .card-title
                            h2.mb-5 Edit Safari
                            +notifications
                            //definition of variables
                            - var departureDate = safari.departureDate.toISOString().slice(0, 10)
                            - var returnDate = safari.returnDate.toISOString().slice(0, 10)
                        .card-text
                            form(action='/update-safari', method='post')
                                input(type='hidden', name="_csrf", value= csrfToken)
                                input(type='hidden', name='safariId' value= safari.id)
                                .row
                                    .col-12.col-md-4
                                        .input-group.mb-3
                                            .input-group-prepend
                                                span.input-group-text#destination
                                                    i.fa-solid.fa-location-dot.font-dark-blue
                                            select(name="destination", class="form-control font-dark-blue", aria-label="Destination", aria-describedby="destination")
                                                option(value= safari.destination, selected)= safari.destination
                                                each place in destinations
                                                    option(value= place)= place

                                    .col-12.col-md-4
                                        .input-group.mb-3
                                            .input-group-prepend
                                                span.input-group-text#isOfficial
                                                    i.fa-solid.fa-clipboard-question.font-dark-blue
                                            select(name="isOfficial", id="officialChoice" class="form-control font-dark-blue", aria-label="isOfficial", aria-describedby="isOfficial")
                                                - var officialSafari = safari.isOfficial ? "YES" : "NO"
                                                option(value= officialSafari, selected)= officialSafari

                                    .col-12.col-md-4
                                        .input-group.mb-3
                                            .input-group-prepend
                                                span.input-group-text#isHalfPerDiem
                                                    i.fa-solid.fa-clipboard-question.font-dark-blue
                                            select(name="isHalfPerDiem", id="halfperdiem" class="form-control font-dark-blue", aria-label="isHalfPerDiem", aria-describedby="isHalfPerDiem")
                                                - var safariIsHalfPerdiem = safari.isHalfPerDiem ? "YES" : "NO"
                                                option(value= safariIsHalfPerdiem, selected)= safariIsHalfPerdiem
                                                if(safari.isHalfPerDiem)
                                                    option(value="NO") NO
                                                else
                                                    option(value="YES") YES

                                .row
                                    .col-12.col-md-12
                                        .input-group.mb-3
                                            .input-group-prepend
                                                span.input-group-text#purpose
                                                    i.fa-solid.fa-clipboard.font-dark-blue
                                            textarea(name="purpose", class="form-control font-dark-blue", placeholder="Purpose of the Safari. You can also specify the departmental strategic objective that goes with this safari", aria-label="Purpose of the Safari", aria-describedby="purpose")= safari.purpose
                                .row
                                    .col-12.col-md-6
                                        .input-group.mb-3
                                            .input-group-prepend
                                                span.input-group-text#departuredate
                                                    i.text-muted Departure Date
                                                    //p= safari.departureDate.toLocaleDateString("en-GB")
                                            input#dateToDeparture(type="date" value=departureDate ,name="departuredate", class="form-control font-dark-blue", aria-label="Departure Date", aria-describedby="Departure Date")

                                    .col-12.col-md-6
                                        .input-group.mb-3
                                            .input-group-prepend
                                                span.input-group-text#returndate
                                                    i.text-muted Return Date
                                            input#dateToReturn(type="date", value=returnDate ,name="returndate", class="form-control font-dark-blue", aria-label="Return Date", aria-describedby="Return Date")

                                .row
                                    if(currentUser.isStationHead && userStation.isTopStation)
                                        .col-12.col-md-12
                                            .input-group.mb-3
                                                .input-group-prepend
                                                    span.input-group-text#permissionStation
                                                        i.fa-solid.fa-solid.fa-briefcase.font-dark-blue
                                                select(name="permissionStation", class="form-control font-dark-blue", aria-label="Permission Approval Station", aria-describedby="Permission Station")
                                                    option(value=safari.permissionStation, selected) Permission Approval Station
                                                    each station in stations
                                                        if(!station.isTopStation && station.topStation.id === userStation.id)
                                                            option(value= station.id) #{station.name}

                                    .col-12.col-md-12
                                        .input-group.mb-3
                                            .input-group-prepend
                                                span.input-group-text#warrantHoldingStation
                                                    i.fa-solid.fa-solid.fa-briefcase.font-dark-blue
                                            select(name="warrantHoldingStation", class="form-control font-dark-blue", aria-label="Warrant Holding Station", aria-describedby="station" required)
                                                option(value=safari.warrantHoldingStation, selected)= warrantHoldingStation
                                                each station in stations
                                                    option(value= station.id) #{station.name}

                                .form-group
                                    input(type='submit', value='update', class='btn btn-primary')

block javascript
    script(type="text/javascript", src="/js/app.js")
