extends layout

block content
    .container
        .row.mt-5
            .col-12.col-sm-12.col-md-12
                h1= message
                h3.text-muted= error.status
                p.text-muted= error.stack