extends layout

block content
    .container
        .row.mt-md-4.mt-2
            .col-12.col-md-12
                +notifications
                a.badge.badge-dark.mr-2.p-md-2(href="/home") My Safaries
                if(currentUser.isInstituteAdmin)
                    a.badge.badge-secondary.mr-2.p-md-2(href="/view-all-staff") Staff Management
                    a.badge.badge-secondary.mr-2.p-md-2(href="/view-designations") Designation Management
                    a.badge.badge-secondary.mr-2.p-md-2(href="/view-rates-perdiem") Rate Perdiem Management

                if(station)
                    if(currentUser.isStationHead)
                        a.badge.badge-light.mr-2.p-md-2(href="/load-safari-for-approval/supervisor") Safari for Permission Approval
                    if(currentUser.isWarrantHolder)
                        a.badge.badge-light.mr-2.p-md-2(href="/load-safari-for-approval/financial_approval") Safari for Financial Approval
                    if(currentUser.isStationHead && station.isPaymentManager)
                        a.badge.badge-light.mr-2.p-md-2(href="/load-safari-for-approval/payment") Safari for Payment Approval
                    if(currentUser.isStationHead && station.isCashOffice)
                        a.badge.badge-light.mr-2.p-md-2(href="/load-safari-for-approval/payment_office") Safari for Payment

                a.badge.badge-info.float-md-right.p-md-2(href="/create-new-safari") Create new safari

        .row.mt-md-4
            .col-12.col-md-12
                if(safaries.length > 0)
                    table.table.table-bordered
                        thead.text-white.bg-dark-blue.table-sm
                            tr
                                th.text-center #
                                th Destination
                                th.text-center Type
                                th Departure
                                th Return
                                th.text-center Nights
                                th Stage
                                th Status
                                th.text-center Actions
                        tbody
                            - var safariCount = 1
                            each safari in safaries
                                tr
                                    td.text-center.text-muted  #{safariCount}.
                                    td= safari.destination
                                    if(safari.isOfficial)
                                        td.text-center= "Official"
                                    else
                                        td.text-center= "Private"
                                    td= safari.departureDate.toLocaleDateString("en-US",{weekday: "short",year: "numeric", month:"short", day:"2-digit"})
                                    td= safari.returnDate.toLocaleDateString("en-US",{weekday: "short",year: "numeric", month:"short", day:"2-digit"})
                                    td.text-center= ((new Date(safari.returnDate).getTime() - new Date(safari.departureDate).getTime())/ (1000 * 60 * 60 * 24))
                                    if(safari.approvalStage === "supervisor")
                                        td Permission
                                    if(safari.approvalStage === "financial_approval")
                                        td Warrant Holder
                                    if(safari.approvalStage === "payment")
                                        td Payments
                                    if(safari.approvalStage === "payment_office")
                                        td Cash Office

                                    if(safari.approval === "approved" && safari.approvalStage === "payment_office")
                                        td
                                            i.fa-solid.fa-circle-check.text-success.mr-2
                                            span.text-success Paid
                                    else if(safari.approval === "approved")
                                        td
                                            i.fa-solid.fa-circle-check.text-success.mr-2
                                            span.text-success Approved
                                    else
                                        td
                                            i.fa-solid.fa-circle.text-primary.mr-2
                                            span.text-primary Pending
                                    td.text-center
                                        a(href="/view-safari-details/" + safari.id, title="View Safari")
                                            i.fa-solid.fa-eye.font-dark-blue
                                        a(href="/edit-safari/" + safari.id, title="Edit Safari")
                                            i.fa-solid.fa-pen-to-square.font-dark-blue.mx-sm-3.mr-md-3
                                - safariCount++
                else
                    p.text-muted.text-center.my-2 -- No safari to display --

                



