extends layout

block content
    .container
        .row.mt-md-4.mt-2
            .col-12.col-md-3.text-center
                if(institution.logoImageURL)
                    img.rounded(src="#", height=180, width=180)
                else
                    i.fa-solid.fa-building-columns.font-dark-blue.fa-10x
                p.my-3.text-muted= "Created on: "+ institution.createAt.toLocaleDateString("en-US",{weekday: "short",year: "numeric", month:"short", day:"2-digit"})
            .col-12.col-md-9
                +notifications
                h1.mb-3= institution.name+" ("+institution.shortCode+")"
                h5 
                    b SysAdmin: 
                    span.ml-2 #{institution.staff.getFullName()}
                    .mt-3
                        b Email:
                        span.ml-2 #{institution.staff.email}

                .mt-4
                    a.btn.btn-sm.btn-danger(href="#") Delete
                
                



