include mixins/notifications
doctype html
html(lang="en")
    head
        meta(charset="utf-8")
        meta(name="viewport",content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        link(rel="stylesheet", href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css", integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn", crossorigin="anonymous")
        link(rel="stylesheet", href="/css/fontawesome_free/css/all.css")
        link(rel="preconnect" href="https://fonts.googleapis.com")
        link(rel="preconnect" href="https://fonts.gstatic.com" crossorigin)
        link(href="https://fonts.googleapis.com/css2?family=Fredoka:wght@300;400;500;600;700&display=swap", rel="stylesheet")
        link(rel="stylesheet", href="/css/app.css")
        title Safari Advice
    body
        nav.navbar.navbar-expand-lg.navbar-dark.bg-dark-blue
            .container
                if(institution)
                    a.navbar-brand(href="/home", title= institution.name) #{institution.shortCode}
                else
                    a.navbar-brand(href="/home") Safari Advice
                button.navbar-toggler(type="button", data-toggle="collapse", data-target="#navbarText", aria-controls="navbarText", aria-expanded="false", aria-label="Toggle navigation")
                    span.navbar-toggler-icon
                .collapse.navbar-collapse#navbarText
                    ul.navbar-nav.mr-auto
                        if(currentUser)
                            if(currentUser.isSysAdmin || currentUser.isInstituteAdmin )
                                if(currentUser.isSysAdmin)
                                    li.nav-item
                                        a.nav-link(href="/create-institution") Create Institution
                                    li.nav-item
                                        a.nav-link(href="/view-institutions") View Institutions
                                if(currentUser.isInstituteAdmin)
                                    li.nav-item
                                        a.nav-link.active(href="/create-station") Create Organization Structure

                    span.navbar-text
                        if(currentUser)
                            a.mr-3.btn.btn-sm.btn-info(href="#")= currentUser.getFullName()
                            a.btn.btn-sm.btn-outline-danger(href="/logout") Logout
                        else
                            a.btn.btn-sm.btn-outline-info.mr-3(href="/") Login
                            a.btn.btn-sm.btn-outline-danger(href="/register") Register
        block content


        block javascript
            script(src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js", integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj", crossorigin="anonymous")
            script(src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js", integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN", crossorigin="anonymous")
            script(src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.min.js", integrity="sha384-VHvPCCyXqtD5DqJeNxl2dtTyhF78xXNXdkwX1CZeRusQfRKp+tA7hAShOK/B/fQ2", crossorigin="anonymous")
            script(src="https://kit.fontawesome.com/4bb9a857cb.js" crossorigin="anonymous")
