extends layout

block content
    .container
        .row.mt-5
            .col-12.col-md-4.offset-md-4.mt-2
                .card.p-md-4.font-dark-blue
                    .card-body
                        .card-title
                            h2.mb-5 Login
                            +notifications
                        .card-text
                            form(action='/login', method='post')
                                input(type='hidden', name='_csrf', value= csrfToken)
                                .input-group.mb-3
                                    .input-group-prepend
                                        span.input-group-text#email
                                            i.fa-solid.fa-user.font-dark-blue
                                    input(type="email", name="email", class="form-control font-dark-blue",placeholder="Email",aria-label="Username",aria-describedby="email")

                                .input-group.mb-3
                                    .input-group-prepend
                                        span.input-group-text#password
                                            i.fa-solid.fa-lock.font-dark-blue
                                    input(type="password", name="password", class="form-control font-dark-blue",placeholder="Password",aria-label="Password",aria-describedby="password")

                                .form-group
                                    input(type='submit', value='Login', class='btn btn-primary')
                                .form-group
                                    a(href='/forgot', class="font-dark-blue") Forgot Password

                .text-muted.text-center.mt-3.border.rounded.p-2
                    span Zamo Technologies &copy;#{year}
