extends layout

block content
    .container
        .row.mt-5
            .col-12.col-md-8.offset-md-2.mt-5
                .card.p-md-4
                    .card-body
                        .card-title
                            h2.mb-5 User Registration
                            
                            p #{errors}

                            +notifications
                        .card-text
                            form(action='/register', method='post')
                                input(type='hidden', name="_csrf", value= csrfToken)
                                .row
                                    .col-12.col-md-4
                                        .input-group.mb-3
                                            .input-group-prepend
                                                span.input-group-text#firstname
                                                    i.fa-solid.fa-user-plus.font-dark-blue
                                            input(type="text", name="firstname", class="form-control font-dark-blue",placeholder="Firstname",aria-label="Firstname",aria-describedby="firstname")

                                    .col-12.col-md-4
                                        .input-group.mb-3
                                            .input-group-prepend
                                                span.input-group-text#secondname
                                                    i.fa-solid.fa-user-plus.font-dark-blue
                                            input(type="text", name="secondname", class="form-control font-dark-blue",placeholder="Middlename",aria-label="Middlename",aria-describedby="secondname")

                                    .col-12.col-md-4
                                        .input-group.mb-3
                                            .input-group-prepend
                                                span.input-group-text#lastname
                                                    i.fa-solid.fa-user-plus.font-dark-blue
                                            input(type="text", name="lastname", class="form-control font-dark-blue",placeholder="Lastname",aria-label="Lastname",aria-describedby="lastname")

                                .row
                                    .col-12.col-md-6
                                        .input-group.mb-3
                                            .input-group-prepend
                                                span.input-group-text#email
                                                    i.fa-solid.fa-at.font-dark-blue
                                            input(type="email", name="email", class="form-control font-dark-blue",placeholder="Email",aria-label="Email",aria-describedby="email")

                                    .col-12.col-md-6
                                        .input-group.mb-3
                                            .input-group-prepend
                                                span.input-group-text#password
                                                    i.fa-solid.fa-lock.font-dark-blue
                                            input(type="password", name="password", class="form-control font-dark-blue",placeholder="Password",aria-label="Password",aria-describedby="password")

                                //.row
                                //    .col-12.col-md-6
                                //        .input-group.mb-3
                                //            .input-group-prepend
                                //                span.input-group-text#perdiemrate
                                //                    i.fa-solid.fa-money-bill-1.font-dark-blue
                                //            input(type="number", name="perdiemrate", class="form-control font-dark-blue",placeholder="PerDiemRate",aria-label="PerDiemRate",aria-describedby="perdiemrate")
                                //
                                //
                                //    .col-12.col-md-6
                                //
                                //        .input-group.mb-3
                                //            .input-group-prepend
                                //                span.input-group-text#designation
                                //                    i.fa-solid.fa-person-digging.font-dark-blue
                                //            input(type="text", name="designation", class="form-control font-dark-blue",placeholder="Designation",aria-label="Designation",aria-describedby="designation")


                                .form-group
                                    input(type='submit', value='Register', class='btn btn-primary')
