extends layout

block content
    .container
        .row.mt-md-4.mt-2
            .col-12.col-md-12
                +notifications
                a.badge.badge-light.mr-2.p-md-2(href="/home") My Safaries
                if(currentUser.isInstituteAdmin)
                    a.badge.badge-secondary.mr-2.p-md-2(href="/view-all-staff") Staff Management
                    a.badge.badge-secondary.mr-2.p-md-2(href="/view-designations") Designation Management
                    a.badge.badge-secondary.mr-2.p-md-2(href="/view-rates-perdiem") Rate Perdiem Management
                if(currentUser.isStationHead)
                    a.badge.badge-light.mr-2.p-md-2(href="/load-safari-for-approval/supervisor") Safari for Permission Approval
                if(currentUser.isWarrantHolder)
                    a.badge.badge-light.mr-2.p-md-2(href="/load-safari-for-approval/financial_approval") Safari for Financial Approval
                if(currentUser.isStationHead && station.isPaymentManager)
                    a.badge.badge-light.mr-2.p-md-2(href="/load-safari-for-approval/payment") Safari for Payment Approval
                if(currentUser.isStationHead && station.isCashOffice)
                    a.badge.badge-light.mr-2.p-md-2(href="/load-safari-for-approval/payment_office") Safari for Payment

                a.badge.badge-info.float-md-right.p-md-2(href="/create-new-safari") Create new safari
        .row.mt-md-4
            .col-12.col-md-10.mb-5
                // variables to use
                - var totalNumberOfNights = ((new Date(safari.returnDate).getTime() - new Date(safari.departureDate).getTime())/ (1000 * 60 * 60 * 24))
                - var otherPaymentTotal = Number(0)
                if(safari.isHalfPerDiem)
                    - var ratePerDiem = staff.perdiemRate.amount * 0.5
                else
                    - var ratePerDiem = staff.perdiemRate.amount

                - var totalPerDiem = ratePerDiem * totalNumberOfNights


                table.table.table-bordered
                    thead.text-white.bg-dark-blue.table-sm
                        tr
                            td(colspan="3")
                                h3.text-center Safari Advice
                    tbody
                        tr
                            th FullName
                            td(colspan="2") #{safari.staff.lastName} #{safari.staff.firstName}, #{safari.staff.secondName}
                        tr
                            th Designation
                            if(staff.isStationHead)
                                td(colspan="2") #{staff.designation.name}
                                    span.badge.badge-success.mx-2 #{staff.station.headOfStationTitle} #{staff.station.shortCode}
                            else
                                td(colspan="2") #{staff.designation.name}
                        tr
                            th Nature of Safari
                            if(safari.isOfficial)
                                td(colspan="2") Official
                            else
                                td(colspan="2") Private

                        tr
                            th Comments/Reasons
                            td(colspan="2") #{safari.purpose}

                        tr
                            th Departure
                            td(colspan="2") #{safari.departureDate.toLocaleDateString("en-US",{weekday: "short",year: "numeric", month:"short", day:"2-digit"})}

                        tr
                            th Return
                            td(colspan="2") #{safari.returnDate.toLocaleDateString("en-US",{weekday: "short",year: "numeric", month:"short", day:"2-digit"})}

                        tr
                            th Nights
                            td(colspan="2") #{totalNumberOfNights} &nbsp;
                                if(totalNumberOfNights > 1)
                                    span days
                                else
                                    span day
                        if(safari.isOfficial)
                            tr
                                th Rate per Diem
                                    td(colspan="2") #{ratePerDiem}
                                        span.mx-2 Tzs
                            tr
                                th
                                    b Total Perdiem
                                td(colspan="2")
                                    b #{totalPerDiem} Tzs
                            //    Here the system will loop on other payments
                            if(safari.otherPayments.length > 0)
                                tr
                                    th.text-white.bg-dark-blue.table-sm(colspan="3").text-center Other Payments

                                each otherPayment in safari.otherPayments
                                    tr
                                        th #{otherPayment.name}
                                        td #{otherPayment.amount}&nbspTzs&nbsp;
                                        td #{otherPayment.description}
                                        - otherPaymentTotal = otherPaymentTotal + otherPayment.amount
                                tr
                                    th
                                        b Other Payments Total
                                    td(colspan="2")
                                        b #{otherPaymentTotal} Tzs

                            tr
                                th.text-white.bg-dark.table-sm Grant Total
                                td(colspan="2").text-white.bg-dark.table-sm
                                    b #{totalPerDiem +otherPaymentTotal} Tzs

                            tr
                                th.text-white.bg-dark-blue.table-sm(colspan="3").text-center Approval
                            tr

                        tr
                            th Approval Stage
                            td.text-center
                                if(safari.approvalStage === "supervisor")
                                    b Permission
                                if(safari.approvalStage === "financial_approval")
                                    b Warrant Holder
                                if(safari.approvalStage === "payment")
                                    b Payments
                                if(safari.approvalStage === "payment_office")
                                    b Cash Office
                            td.text-center
                                - var currentUserFullName = `${currentUser.firstName} ${currentUser.lastName}`
                                if(safari.approval === "approved")
                                    i.fa-solid.fa-circle-check.text-success.mr-2
                                    span.text-success Approved
                                    if(currentUserFullName !== safari.approvedBy)
                                        span.text-dark &nbsp;by&nbsp;#{safari.approvedBy}
                                else
                                    i.fa-solid.fa-circle.text-primary.mr-2
                                    span.text-primary Pending


            .col-12.col-md-2
                h4 Action Center
                if(safari.staff.id === currentUser.id && safari.approvalStage === "supervisor" && safari.approval === "pending")
                    a.btn.btn-primary.btn-sm.mx-2.float-md-left(href="/edit-safari/" + safari.id, title="Delete") Edit
                    a.btn.btn-danger.btn-sm.float-md-right(href="/confirm-delete-safari/" + safari.id, title="Delete") Delete

                if(safari.staff.id === currentUser.id && safari.approval !== "pending")
                    a.btn.btn-danger.btn-block.mt-md-4(href="/confirm-cancel-safari/" + safari.id, title="Cancel") Cancel


                if(currentUser.isStationHead && safari.permissionStation.id === station.id && safari.approvalStage === "supervisor" && safari.approval === "pending")
                    a.btn.btn-primary.btn-sm(href="/confirm-approve-safari/"+safari.id, title="Approve") Approve Permission

                if(currentUser.isStationHead && safari.permissionStation.id === station.id && safari.isOfficial && safari.approvalStage === "supervisor" && safari.approval === "approved")
                    a.btn.btn-primary.btn-sm.my-2(href="/confirm-forward-safari/"+safari.id, title="Forward") Forward for Warrant of Fund approval

                if(currentUser.isWarrantHolder && safari.warrantHoldingStation.id === station.id && safari.isOfficial && safari.approvalStage === "financial_approval" && safari.approval === "pending")
                    a.btn.btn-primary.btn-sm(href="/confirm-approve-safari/"+safari.id, title="Approve") Approve Warrant of Fund

                if(currentUser.isWarrantHolder && safari.warrantHoldingStation.id === station.id && safari.isOfficial  && safari.approvalStage === "financial_approval" && safari.approval === "approved")
                    a.btn.btn-primary.btn-sm(href="/confirm-forward-safari/"+safari.id, title="Forward") Forward for Payment Approval

                if(currentUser.isStationHead && station.isPaymentManager && safari.isOfficial && safari.isOfficial  && safari.approvalStage === "payment" && safari.approval === "pending")
                    a.btn.btn-primary.btn-sm(href="/confirm-approve-safari/"+safari.id, title="Approve") Approve Payment

                if(currentUser.isStationHead && station.isPaymentManager && safari.isOfficial  && safari.approvalStage === "payment" && safari.approval === "approved")
                    a.btn.btn-primary.btn-sm(href="/confirm-forward-safari/"+safari.id, title="Forward") Forward for Payment

                if(currentUser.isStationHead && station.isCashOffice && safari.isOfficial  && safari.approvalStage === "payment_office" && safari.approval === "pending")
                    a.btn.btn-primary.btn-sm(href="/confirm-approve-safari/"+safari.id, title="Pay") Pay
                if( currentUser.isStationHead && station.isCashOffice && safari.isOfficial && safari.approvalStage === "payment_office" && safari.approval === "approved")
                    i.fa-solid.fa-circle-check.text-success.mr-2
                    span.badge.badge-dark Paid












