extends layout

block content
    .container
        .row.mt-4
            .col-12
                +notifications
                //variable declarations
                - var subUnits = unit.subUnits

                a.badge.badge-dark.mb-2(href="/view-sub-offices/"+institution.id) Back
                h6.text-muted #{subOffice.name}
                    a(href="/create-sub-unit/"+institution.id+"/"+subOffice.id+"/"+unit.id).badge.badge-dark.float-right Create new Department
                h4 #{unit.name} (#{unit.shortCode})


                if(unit.subUnits.length > 0)
                    .bg-light.p-3.rounded
                        ul
                            each subUnit in subUnits
                                li #{subUnit.name} (#{subUnit.shortCode})
                else
                    p.text-muted.ml-2 -- No departments --

