extends layout

block content
    .container
        .row.mt-md-4.mt-2
            .col-12.col-md-12
                +notifications
                - var currencyFormat = Intl.NumberFormat('en-US')

                if(currentUser.isInstituteAdmin)
                    a.mb-2.text-white.badge.bg-dark-blue.p-md-2 List of All Rates Perdiem
                    a.badge.badge-info.float-md-right.p-md-2(href="/create-new-rate-perdiem") Create new RatePerDiem

            .col-12.col-md-12
                if(ratesPerDiem.length > 0)
                    table.table.table-bordered
                        thead.text-white.bg-dark-blue.table-sm
                            tr
                                th.text-center #
                                th Amount
                                th CreatedAt
                                th.text-center Actions
                        tbody
                            - var ratePerDiemCount = 1
                            each ratePerDiem in ratesPerDiem
                                tr
                                    td.text-center.text-muted  #{ratePerDiemCount}.
                                    td= currencyFormat.format(ratePerDiem.amount.toFixed(2))
                                    td= ratePerDiem.description
                                    td.text-center Actions
                                - ratePerDiemCount++

                else
                    p.text-muted.text-center.my-2 -- No Rates Perdiem to display --


