extends layout

block content
    .container
        .row.mt-md-4.mt-2
            .col-12.col-md-12
                +notifications
                h3.text-muted.mb-3 List of Institutions
                if(institutions.length > 0)
                    - var institutionCounter = 1;
                    table.table.table-sm.table-bordered.table-sm-responsive
                        thead.dark-table-head.text-white
                            tr
                                th.text-muted.text-center #
                                th(scope="col") Name
                                th.text-center(scope="col") ShortCode
                                th(scope="col") SysAdminName
                                th(scope="col") SysAdminEmail
                                th.text-center(scope="col") Action
                                    
                        tbody
                            each institution in institutions
                                tr  
                                    td.text-muted.text-center= institutionCounter+"."
                                    td= institution.name
                                    td.text-center
                                        b= institution.shortCode
                                    if(institution.staff)
                                        td= institution.staff.getFullName()
                                        td= institution.staff.email
                                    else
                                        td Admin not found
                                        td Admin not found
                                    td.text-center 
                                        a(href="#", title="Edit Institution")
                                            i.fa-solid.fa-pen-to-square.font-dark-blue.mx-sm-3
                                        a(href="/institution-details/"+institution._id, title="View Institution")
                                            i.fa-solid.fa-eye.font-dark-blue.mr-md-3
                                - institutionCounter++
                else
                    p.text-muted No institutions found





