extends layout

block content
    .container
        .row.mt-md-4.mt-2
            .col-12.col-md-12
                +notifications
                if(currentUser.isInstituteAdmin)
                    a.mb-2.text-white.badge.bg-dark-blue.p-md-2 List of All designations
                    a.badge.badge-info.float-md-right.p-md-2(href="/create-new-designation") Create new designation

            .col-12.col-md-12

                if(designations.length > 0)
                    table.table.table-bordered
                        thead.text-white.bg-dark-blue.table-sm
                            tr
                                th.text-center #
                                th Name
                                th CreatedAt
                                th.text-center Actions
                        tbody
                            - var designationCount = 1
                            each designation in designations
                                tr
                                    td.text-center.text-muted  #{designationCount}.
                                    td= designation.name
                                    td= designation.createdAt
                                    td.text-center Actions
                                - designationCount++

                    // each staff in staffs
                    //     p #{staff}
                else
                    p.text-muted.text-center.my-2 -- No designation to display --


