extends layout

block content
    .container
        .row.mt-md-4.mt-2
            .col-12.col-md-12
                +notifications
                if(currentUser.isInstituteAdmin)
                    a.mb-2.text-white.badge.bg-dark-blue.p-md-2 List of All Staff
                    a.mb-2.text-white.badge.bg-dark-blue.p-md-2.mx-2 List of Head of Stations
                    a.mb-2.text-white.badge.bg-dark-blue.p-md-2.mx-2 List of Head of Warrant Holders
                    a.badge.badge-info.float-md-right.p-md-2(href="/create-new-staff/" + institution.id) Create new staff

            .col-12.col-md-12
                if(staffs.length > 0)
                    table.table.table-bordered
                        thead.text-white.bg-dark-blue.table-sm
                            tr
                                th.text-center #
                                th Full Name
                                th Email
                                th Station
                                th Designation
                                th.text-center Actions
                        tbody
                            - var staffCount = 1
                            each staff in staffs
                                tr
                                    td.text-center.text-muted  #{staffCount}.
                                    td= staff.getFullName()
                                    td= staff.email
                                    if(staff.station)
                                        td= staff.station.shortCode
                                    else
                                        td "No Station to display"
                                    if(staff.station && staff.designation)
                                        if(staff.isStationHead)
                                            td #{staff.designation.name}
                                                span.badge.badge-success.mx-2  #{staff.station.headOfStationTitle}
                                        else
                                            td #{staff.designation.name}
                                    else
                                        if(staff.isInstituteAdmin)
                                            td
                                                b "Institute System Admin"
                                        else
                                            td "No designation to display"
                                    td.text-center Actions
                                - staffCount++
                else
                    p.text-muted.text-center.my-2 -- No staff to display --


